<head>
    <link rel="stylesheet" href="../cssStyling/resume.css" />
    <script src="../java_script_styling/JS_style.js"></script>
</head>


<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="~/Slides/download.png" alt="DGBpic" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Dhruv Bhatti</h1>
                @*<h2 class="quickFade delayThree">Job Title</h2>*@
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: <a href="mailto:dgbhatti@syr.edu" target="_blank">dgbhatti@syr.edu</a></li>
                    <li>w: <a href="http://www.healthyengineer.com">www.HealthyEngineer.com</a></li>
                    <li>m: 571-635-0862</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Leadership and Activities</h1>
                    </div>

                    <div class="sectionContent">
                        <p>
                            • Head of Entrepreneurship Cell at KC College of Engineering, University of Mumbai
                            • Honored by Udacity with a special appearance on their blog for the commitment shown to learn Python
                            • Achieved excellence in National Entrepreneurship summit and GMRT national science fair
                            • An enthusiastic traveler, a passionate cook, lover of nature and a devoted sport fanatic
                        </p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Student Supervisor in Syracuse University dining services</h2>
                        <p class="subDetails">Aug 2018 - Present</p>
                        <p>
                            • Performed duties requested by management for smooth and effective operations of the Sadler Dining Hall
                            • Created and revised weekly schedules for general employees to ensure adequate staffing at all times
                        </p>
                    </article>

                    <article>
                        <h2>iOS Developer Intern in Olive Sync</h2>
                        <p class="subDetails">June 2017 - july 2017</p>
                        <p>
                            • Assisted in development and testing of application for integrating student teaching plans, assignments and attendance
                            • Participated in brainstorming sessions with team to discuss various functional flows and possible UX designs
                            • Developed software modules in Xcode using Swift code and fixed bugs in existing code sent by Defects Team
                        </p>
                    </article>

                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>C++</li>
                        <li>C#</li>
                        <li>HTML 5</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Swift</li>
                        <li>Asp.Net MVC</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Syracuse University</h2>
                        <p class="subDetails">Masters in Computer Engineering</p>
                        <p>
                            Coursework: Object Oriented Design, Internet Programing, Database Management Systems, Computer Architecture,
                            System on Chip Design, Semiconductor
                        </p>
                    </article>

                    <article>
                        <h2>University of Mumbai</h2>
                        <p class="subDetails">Bachelor of Electrical and Telecommunication Engineering</p>
                        <p>
                            Coursework: Digital Electronics, Robotics, Micro-controllers, Image & Video
                            Processing, Satellite Communication

                        </p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
    </script>
</body>
